body{
    display: block;
    width: 80%;
    margin: auto;
}

img{
    position: relative;
    max-width: 85%;
}

.desktop{
    margin-bottom: 100px;
    left: 50%;
    translate: -50% 0;
}

.mobile{
    left: 50%;
    translate: -50% 0;
}
