body{
    width: 800px;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* 640px or bigger */
@media (min-width:640px){
    html{
        background-color: #eaf6ff;
    }

    h1{
        font-size: 2.5rem;
    }
}

/* 500px or smaller */
@media (max-width: 500px){
    h1{
        font-size: 1.5rem;
    }
}

#fixed-size-grid-items ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

#fixed-size-grid-items aside{
    width: 170px;
    font-size: 0.8rem;
}

#stretchable-grid-items ul{
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
    width: 100%;
    gap: 10px;
    margin: 1rem -10px 1rem -10px;
}

/* grid 480-640px --> li 50% wide, 2 across  */
@media (min-width: 480px){
    #stretchable-grid-items ul{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* grid bigger than 640px --> li 25% wide, 4 across*/
@media (min-width: 640px){
    #stretchable-grid-items ul{
        grid-template-columns: repeat(4, 1fr)
    }
}