body{
    width: 500px;
    margin: auto;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 40px;
    margin-bottom: 0px;
}

h2{
    font-family: 'Raleway', sans-serif;
    padding-top: 30px;
    color: grey;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 16px;
    color:rgb(170, 170, 170);
    margin-bottom: 10px;
}

p{
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
    margin-top: 0px;
}

.fontspec{
    margin-top: 15px;
}

.bold{
    font-weight: bold;
}

.italic{
    font-style: italic;
}

.bigspacing{
    letter-spacing: .3em;
}

.underline{
    text-decoration: underline;
}

.strikethrough{
    text-decoration: line-through;
}

.overline{
    text-decoration: overline;
}

.uppercase{
    text-transform: uppercase;
}

.lowercase{
    text-transform: lowercase;
}

.capitalize{
    text-transform: capitalize;
}