body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}

/* cartoon network button */

.button-container.cartoon{
    position: relative;
}

a#cartoon .logo{
    max-width: 75%;
    height: auto;
}

a#cartoon {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#characters img{
    display: inline-block;
    position: absolute;
    translate: -50% -250%;
    max-width: 15%;
    height: auto;
    z-index: -1;
}

#powgirls {
    left: 100px;
}

#adventure {
    left: 110px;
    bottom: -10px;
}

#gumball {
    right: 60px;
    bottom: -70px;
    transform: scale(.7);
}

#eds{
    right: 85px;
}

#stevenuni{
    bottom: -40px;
    left: 125px;
    z-index: -2;
}

a#cartoon:hover{
    transform: scale(.8) translateY(-50%);
    transition: all .5s;
}

#cartoon:hover #characters{
    animation: slide .5s forwards;
    animation-iteration-count: 1;
}

@keyframes slide{
    from{
        top: 50%;
    }

    to{
        top: 25px;
    }

    100%{
        transform: scale(2.5);
    }
}

a#cartoon:active .logo{
    background-color: #ffffff;
    filter: invert(1);
}

/* apple button */

a#apple {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 0px 0px 30px 5px rgba(59, 59, 59, 0.08);
    margin: auto;
    margin-top: 25px;
    padding-top: 83px;
    background-color: #ffffff;
    color: #6e6e73;
    text-align: center;
    
}

#apple i{
    transform: scale(8);
}

a#apple:hover{
    color: #000000;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 0px 0px 20px 5px rgba(59, 59, 59, 0.1);
}

/* michael kors */

#mk{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 150px;
    height: auto;
    margin-top: 110px;
    left: 20%;
    padding: 15px 15px 15px 15px;
    /* background-color: #e29595; */
    overflow: hidden;
}

#mk img{
    display: flex;
    max-width: 100%;
    justify-content: center;
    z-index: 2;
}

#mk:hover:before{
    content: '';
    position: absolute;
    width: 170px;
    height: 70%;
    background-color: #000;
    animation: rotate 2s linear .5;
}

#mk::after{
    content: '';
    position: absolute;
    background: #fff;
    inset: 2px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#mk:active{
    filter: invert(1);
    transition: filter .5s;
}