body {
    color: #333;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 40px;
}

h1 {
     font-size: 30px;
     margin-bottom: 40px;
}

.button_container {
    border: 1px solid #ddd;
    margin: 0 10px 10px 0;
    padding: 20px;
    width: 300px;
    height: 300px;
    float: left;
    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
}

a{
    text-decoration: none;
}

a#btn_spotify {
    display: inline-block;
    height: 50px;
    box-sizing: border-box;
    border-radius: 25px;
    margin: auto;
    margin-top: 100px;
    padding: 10px 40px 0 40px;
    background-color: #2ebd59;
    border: 2px solid #2ebd59;
    color: #fff;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    transition: all .5s;
}

a#btn_spotify:hover {
    background-color: #fff;
    border: 2px solid #000;
    color: #000;
}

a#btn_amazon {
    display: block;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    border-radius: 50px;
    margin: auto;
    margin-top: 75px;
    padding-top: 8px;
    background-color: #232f3e;
    color: #fff;
    text-align: center;
    font-size: 60px;
    transition: all .2s;
}

a#btn_amazon:hover {
    background-color: #fc9a18;
}

a#btn_twitter {
    display: inline-block;
    height: 40px;
    box-sizing: border-box;
    border-radius: 4px;
    margin: auto;
    margin-top: 105px;
    padding: 10px 30px 0 30px;
    background-color: #56cdf1;
    color: #fff;
    font-size: 18px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-decoration: none;
}

a#btn_twitter:hover {

    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#2ebfec+0,28a5cb+100 */
    background: rgb(46,191,236); /* Old browsers */
    background: -moz-linear-gradient(-45deg,  rgba(46,191,236,1) 0%, rgba(40,165,203,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  rgba(46,191,236,1) 0%,rgba(40,165,203,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2ebfec', endColorstr='#28a5cb',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

a#btn_indiegogo {
    display: inline-block;
    position: relative;
    margin:auto;
    margin-top: 100px;
    padding: 8px 16px;
    background-color: #fff;
    color: #eb1478;
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: -2px;
    transition: all .2s;
}

a#btn_indiegogo:before {
    content: "";
    display: block;
    width: 0;
    height: 0;
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: #eb1478;
    transition: all .5s;
}

a#btn_indiegogo:hover {
    color: #fff;
}

a#btn_indiegogo:hover:before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

a#btn_indiegogo span {
    position: relative;
    z-index: 10;
}

/* cartoon network button */

.button-container.cartoon{
    position: relative;
}

a#cartoon .logo{
    max-width: 75%;
    height: auto;
}

a#cartoon {
    display: inline-block;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#characters img{
    display: inline-block;
    position: absolute;
    translate: -50% -250%;
    max-width: 15%;
    height: auto;
    z-index: -1;
}

#powgirls {
    left: 100px;
}

#adventure {
    left: 110px;
    bottom: -10px;
}

#gumball {
    right: 60px;
    bottom: -70px;
    transform: scale(.7);
}

#eds{
    right: 85px;
}

#stevenuni{
    bottom: -40px;
    left: 125px;
    z-index: -2;
}

a#cartoon:hover{
    transform: scale(.8) translateY(-50%);
    transition: all .5s;
}

#cartoon:hover #characters{
    animation: slide .5s forwards;
    animation-iteration-count: 1;
}

@keyframes slide{
    from{
        top: 50%;
    }

    to{
        top: 25px;
    }

    100%{
        transform: scale(2.5);
    }
}

a#cartoon:active .logo{
    background-color: #ffffff;
    filter: invert(1);
}

/* apple button */

a#apple {
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 0px 0px 30px 5px rgba(59, 59, 59, 0.08);
    margin: auto;
    margin-top: 25px;
    padding-top: 83px;
    background-color: #ffffff;
    color: #6e6e73;
    text-align: center;
    
}

#apple i{
    transform: scale(8);
}

a#apple:hover{
    color: #000000;
    box-sizing: border-box;
    border-radius: 100px;
    box-shadow: 0px 0px 20px 5px rgba(59, 59, 59, 0.1);
}

/* michael kors */

#mk{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    width: 150px;
    height: auto;
    margin-top: 110px;
    left: 20%;
    padding: 15px 15px 15px 15px;
    /* background-color: #e29595; */
    overflow: hidden;
}

#mk img{
    display: flex;
    max-width: 100%;
    justify-content: center;
    z-index: 2;
}

#mk:hover:before{
    content: '';
    position: absolute;
    width: 170px;
    height: 70%;
    background-color: #000;
    animation: rotate 2s linear .5;
}

#mk::after{
    content: '';
    position: absolute;
    background: #fff;
    inset: 2px;
}

@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

#mk:active{
    filter: invert(1);
    transition: filter .5s;
}

/* lyft */

#lyft i{
    position: absolute;
    transform: scale(4);
    color: #FF00BF;
}

#lyft{
    position: relative;
    display: inline-block;
    top: 45%;
    left: -5%;
}

#lyft:hover:before{
    content: 'Let\'s Ride';
    display: block;
    position: absolute;
    width: 80px;
    top: 30px;
    right: -48px;
    font-family: "Figtree", sans-serif;
    font-weight: 800;
    color: #352384;
}

#lyft:hover{
    top: 40%;
    transition: all .5s;
}

/* samsung */

#samsung img{
    max-width: 100%;
    filter: invert(1);
}

#samsung:hover img{
    /* transform: scale(1.1); */
    transition: all .25s;
    filter: invert(0);
}

/* the color run */
#color-run span{
    position: relative;
    display: inline-block;
    color: #000;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    top: 40%;
}

#color-run:hover span{
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 2s;
}

/* fitbit */
#fitbit{
    position: relative;
    display: block;
    top: 37%;
    left: 15px;
    width: 220px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#fitbit:hover{
    background-color: #ebd7a9;
    border-radius: 20px;
    filter: invert(1);
    transition: all .5s;
}

#fitbit:active {
    animation: slidein .5s forwards 1;
  }
  
@keyframes slidein {
    from {
      margin-left: 0%;
    }
  
    to {
      margin-left: 100%;
    }
  }
  

/* exploding kittens */
#exploding-kit{
    position: relative;
    top: 25%;
}

#exploding-kit img{
    max-width: 50%;
    border-radius: 20%;
}

#exploding-kit:hover img{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    transform: scale(1.2);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }

/* instagram */
#ig{
    position: relative;
    display: block;
    top: 50%;
    left: 40%;
}

.icons{
    transform: scale(3);
    position: absolute;
    padding-left: 4px;
    padding-right: 4px;
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
    color: #ffffff;
}

#ig:hover #heart{
    transform: scale(1.15);
    transition: all .5s;
    color: #ffbebe;
}

/* npr */
#npr{
    position: relative;
    top: 20%;
}

#npr p{
    display: inline-block;
    font-family: "Allerta", sans-serif;
    font-size: 50px;
    height: 70px;
    color: #000;
}

#n:hover{
    background-color: #D62021;
    color: #ffffff;
    padding-left: 13px;
    padding-right: 13px;
    transition: all .5s;
}

#p:hover{
    background-color:#000000;
    color: #ffffff;
    padding-left: 13px;
    padding-right: 13px;
    transition: all .5s;
}

#r:hover{
    background-color: #237BBD;
    color: #ffffff;
    padding-left: 16px;
    padding-right: 16px;
    transition: all .5s;
}


