h1{
    font-family: 'Raleway', sans-serif;
}

h2{
    font-family: 'Raleway', sans-serif;
}

h3{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

p{
    font-family: 'Raleway', sans-serif;
}